@import "tailwindcss";
@import "tw-animate-css";

/* 아래 3줄을 추가해서 테일윈드 엔진을 확실히 깨워줍니다 */
@variant hover (&:hover);
@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif;
}

@source "../**/*.{js,ts,jsx,tsx}";